@model CENTRAL79HUB

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>OM-79</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OMId" />
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Otherbox" class="control-label"></label>
                <input asp-for="Otherbox" class="form-control" />
                <span asp-validation-for="Otherbox" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="District" class="control-label">@Html.DisplayNameFor(model => model.District) <span class="required-asterisk">*</span></label>
                <select asp-for="District" name="District" class="form-control" id="districtDropdown" asp-items=@ViewBag.DDropdown> </select>
                <span asp-validation-for="District" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="County" class="control-label">@Html.DisplayNameFor(model => model.County) <span class="required-asterisk">*</span></label>
                <select asp-for="County" name="County" class="form-control" id="countyDropdown" asp-items=@ViewBag.CountyDropdown></select>
                <span asp-validation-for="County" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
