@model IEnumerable<OMTable>

<h4>OM79 Forms</h4>
<ul>
    @foreach (var entry in Model)
    {
        <li>
            <a href="https://localhost:7056/OM79/details/@entry.Id">
                This is each om connected to this hub's id
            </a>
        </li>
    }
</ul>
