@model OMTable

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>OMTable</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DistrictNumber" class="control-label"></label>
                <input asp-for="DistrictNumber" class="form-control" />
                <span asp-validation-for="DistrictNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="County" class="control-label"></label>
                <input asp-for="County" class="form-control" />
                <span asp-validation-for="County" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubmissionDate" class="control-label"></label>
                <input asp-for="SubmissionDate" class="form-control" />
                <span asp-validation-for="SubmissionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Routing" class="control-label"></label>
                <input asp-for="Routing" class="form-control" />
                <span asp-validation-for="Routing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoadChangeType" class="control-label"></label>
                <input asp-for="RoadChangeType" class="form-control" />
                <span asp-validation-for="RoadChangeType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Otherbox" class="control-label"></label>
                <input asp-for="Otherbox" class="form-control" />
                <span asp-validation-for="Otherbox" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RouteAssignment" class="control-label"></label>
                <input asp-for="RouteAssignment" class="form-control" />
                <span asp-validation-for="RouteAssignment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RightOfWayWidth" class="control-label"></label>
                <input asp-for="RightOfWayWidth" class="form-control" />
                <span asp-validation-for="RightOfWayWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Railroad" class="control-label"></label>
                <input asp-for="Railroad" class="form-control" />
                <span asp-validation-for="Railroad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DOTAARNumber" class="control-label"></label>
                <input asp-for="DOTAARNumber" class="form-control" />
                <span asp-validation-for="DOTAARNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequestedBy" class="control-label"></label>
                <input asp-for="RequestedBy" class="form-control" />
                <span asp-validation-for="RequestedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <input asp-for="Comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdjacentProperty" class="control-label"></label>
                <input asp-for="AdjacentProperty" class="form-control" />
                <span asp-validation-for="AdjacentProperty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="APHouses" class="control-label"></label>
                <input asp-for="APHouses" class="form-control" />
                <span asp-validation-for="APHouses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="APBusinesses" class="control-label"></label>
                <input asp-for="APBusinesses" class="form-control" />
                <span asp-validation-for="APBusinesses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="APSchools" class="control-label"></label>
                <input asp-for="APSchools" class="form-control" />
                <span asp-validation-for="APSchools" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="APOther" class="control-label"></label>
                <input asp-for="APOther" class="form-control" />
                <span asp-validation-for="APOther" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="APOtherIdentify" class="control-label"></label>
                <input asp-for="APOtherIdentify" class="form-control" />
                <span asp-validation-for="APOtherIdentify" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Attachments" class="control-label"></label>
                <input asp-for="Attachments" class="form-control" />
                <span asp-validation-for="Attachments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DESignature" class="control-label"></label>
                <input asp-for="DESignature" class="form-control" />
                <span asp-validation-for="DESignature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preparer" class="control-label"></label>
                <input asp-for="Preparer" class="form-control" />
                <span asp-validation-for="Preparer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
