@{
    ViewData["Title"] = "Unauthorized Access";
}

<h1>Unauthorized Access</h1>
<p>You do not have permission to view this page. Please contact your administrator if you believe this is an error.</p>