@{
    ViewData["Title"] = "Unauthorized Access";
}

<div id="Unauthorized">
    <br />
    <div class="alert alert-danger container" role="alert" style="text-align: center;">
        Unauthorized Access
        <br />
        You do not have permission to view this page.
        <br />
        Please contact your administrator at <a href="mailto:DOTHDS@wv.gov">DOTHDS@wv.gov</a> if you believe this is an error.
        <br />
        When reaching out, please reference the page or resource you were attempting to access.
    </div>
</div>
