@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <a asp-controller="CENTRAL79HUB" asp-action="Create">Create a New OM79 Form</a>
    <form action="/CENTRAL79HUB/Create" method="function">
        <!-- Your form fields go here -->
        <!-- For example: -->
        <!-- <input type="text" name="PropertyName" /> -->
      @*  <button type="submit">Create and Redirect</button> *@
    </form>
</div>
