@{
    ViewData["Title"] = "Resources";
}
<h1>@ViewData["Title"]</h1>
<p>For any questions on reguarding this form, please reach out to the email listed bellow.</p>

<!-- Display the email address with a link that opens in a new tab -->
<a href="mailto:HDSHelpDesk@wv.gov" id="emailLink" target="_blank">HDSHelpDesk@wv.gov</a>

